body {
    background-color: rgb(45, 154, 255);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white; /* Cor da caixa */
    border-radius: 10px; /* Canto das bordas */
    padding: 15px; /* Bordas internas */
    width: 500px; /* Tamanho da caixa */
    margin: auto; /* Centraliza */
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}